@{
    ViewBag.Title = "Привет покупатель.";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/main_css")
    <style type="text/css">
        h2
        {
            font-family: 'Century Schoolbook';
            font-size: 22px;
            font-style: italic;
        }

        p.about_font
        {
            font-family: 'Century Gothic';
            font-size: 14px;
            font-style: italic;
            line-height: 23px;
        }

        .menu_item
        {
            height: 35px;
            width: 160px;
            display: inline-block;
            text-align: center;
        }
    </style>
    
</head>
<body>
    <div class="SITE_ROOT" style="width: 980px; padding-bottom: 1px;">
        <div id="SITE_STRUCTURE" style="position: static; top: 0px; width: 980px; height: 1123px;">
            <!-- menu bar -->
            <div style="position: absolute; top: 0px; height: 47px; width: 980px; left: 0px;">
                <!-- menu bar -->
                <div id="SITE_HEADER" class="ItemsContainer" style="position: absolute; top: 10px; height: 35px; width: 980px; left: 0px;">
                    <!-- main -->
                    <div class="menu_item">
                        <div>
                            <div style="text-align: center;">
                                <p style="line-height: 35px; text-align: center;">
                                    @Html.ActionLink("ГЛАВНАЯ", "Index", "Main")
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- customer's corner -->
                    <div class="menu_item">
                        <div style="text-align: center;">
                            <p style="line-height: 35px; text-align: center;">
                                @Html.ActionLink("ПОКУПАТЕЛЮ", "Customer", "Main")
                            </p>
                        </div>
                    </div>
                    <!-- salesperson's corner -->
                    <div class="menu_item">
                        <div style="text-align: center;">
                            <p style="line-height: 35px; text-align: center;">
                                @Html.ActionLink("ПРОДАВЦУ", "Salesperson", "Main")
                            </p>
                        </div>
                    </div>
                    <!-- dealer's corner -->
                    <div class="menu_item">
                        <div style="text-align: center;">
                            <p style="line-height: 33px; text-align: center;">
                                @Html.ActionLink("ПОСТАВЩИКУ", "Dealer", "Main")
                            </p>
                        </div>
                    </div>
                    <!-- login/registrate -->
                    <div class="menu_item" style="margin-left: 17%;">
                        @*style="height: 35px; display: inline-block; text-align: center; overflow: visible; margin-left: 30%;">*@
                        <div style="text-align: center;">
                            <p style="line-height: 33px; text-align: center;">
                                @Html.ActionLink("ВХОД", "Index", "User")
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- content -->

            @RenderBody()
            
            <!-- footer -->
            <div style="position: absolute; top: 720px; height: 106px; width: 980px; left: 0px; bottom: auto; border-top: 1px solid;">
                <div style="position: absolute; top: 25px; width: 370px; left: 25px;">
                    <p class="footer_font">
                        © 2015 Компания «ShopAll».
                    </p>
                </div>
                <div style="position: absolute; top: 25px; width: 200px; left: 80%;">
                    <p class="footer_font">
                        <cite>ул. Киевская 33Б, Киев</cite>
                        <br />
                        Эл. почта: shopall@gmail.com
                        <br />
                        Тел. номер: +38 (044) 213-44-12
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
